<link rel="stylesheet" href="/generalStyles.css">
<link rel="stylesheet" href="/loginStyles.css">
<div class="container">


    <div class="row mt-2" id="infoBlock">
        <div class="col-auto ">
            <h2><strong>Медицинская карта пациента</strong></h2>
        </div>
        <div class="col"></div>
        <div class="col-4">
            <button type="submit" class="common btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="modalButton"><img src="/free-icon-add-user-9434513.png" class="icon"> Регистрация нового пациента</button>
        </div>
    </div>

    