#nameText {
    display: inline-block;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.custom-navbar,.dropdown-menu {
    background-color: #1a3f76;  
}
